body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin: 0;
}

.game-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}

.grid {
  width: 80vw;
  max-width: 600px;
  height: 80vw;
  max-height: 600px;
  border: solid 0.5rem black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: calc(100% / 15);
  height: calc(100% / 15);
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.invader {
  background-color: purple;
  border-radius: 10px;
}
.shooter {
  background-color: green;
}
.laser {
  background-color: orange;
}
.boom {
  background-color: red;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
#shootBtn {
  background-color: red;
}

.move-controls {
  flex-direction: row;
  gap: 0.5rem;
}
.move-controls button {
  background-color: green;
}
