body {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.game-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.grid {
  width: 300px;
  height: 300px;
  border: solid 7px black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  background-color: purple;
  border-radius: 10px;
}
.shooter {
  background-color: green;
}
.laser {
  background-color: orange;
}
.boom {
  background-color: red;
}

.controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.controls button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}
#shootBtn {
  background-color: red;
}

.move-controls {
  flex-direction: row;
  gap: 10px;
}
.move-controls button {
  background-color: green;
}
